{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "overrides": [
        {
            "files": "*.graphql",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
